.button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  &:hover {
    opacity: 0.85;
  }
}
.white {
  color: white;
}

.black {
  color: rgba(68, 68, 78, 1);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundIcon {
  border-radius: 50%;
}

.br12 {
  border-radius: 12px;
}

.rectangular.iconOnly {
  width: 50px;
  height: 40px;
  .icon {
    font-size: 24px;
    width: 45px;
    height: 45px;
  }
}

.iconOnly {
  width: 50px;
  height: 50px;
  .icon {
    font-size: 24px;
    width: 45px;
    height: 45px;
  }
}

.iconWithText {
  width: 95px;
  height: 90px;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 4%;
  text-align: center;
  .icon {
    font-size: 40px;
    width: 45px;
    height: 45px;
  }
}

.text {
  display: inline-block;
}

.transparent {
  border: 1px solid #ff9900;
  color: #ff9900;
  background: transparent;
}
.radial {
  background: radial-gradient(
    106.03% 136.67% at 50% 0%,
    #ffc400 0%,
    #ff9900 100%
  );
}

.linear {
  background: linear-gradient(
    139.57deg,
    rgba(40, 169, 234, 0.3) 0%,
    #28a9ea 100%
  );
}

.greenLinear {
  background: linear-gradient(
    139.57deg,
    rgba(0, 215, 41, 0.3) 0%,
    #00d729 100%
  );
}

.solid {
  background: rgba(0, 119, 255, 1);
}
